html , body { margin : 0; height: 100%; width: 100%;overflow: hidden; touch-action: none; }
#game { position: relative; width: 100vw; height: 100vh; background: blue; overflow: hidden;}
#obs1, #obs2 { 
    position: absolute; 
    left: 100vw; 
    background-color: green; 
    width: 70px; 
}

#obs1 { top : 0px; height: 300px; }
#obs2{ top: 59.6%; height: 300px; }

#player {
    position: absolute;
    
    left: 10vw; 
    top: 50%;   
    height: 50px; 
    width: 50px;
}
#score { position: absolute; top: 10px; left: 10px; height: 10px; width: 100px; color: white;}
